<div class="container col-md-10 col-md-offset-1 mt20">
<h2>New Manual calculation</h2>

<%= simple_form_for [@manual_calculation] do |f| %>
  <div class="form-group col-md-8">
    <h5><%= f.label "请选择撑杆平台"%></h5>
    <%#= f.select :platform_id, @platforms %>
    <%= select_tag(:platform_id, options_for_select(@platforms) ) %>
  </div>
  <%= render :partial => "input_manual_calculation", :locals => { :f => f } %>
<% end %>
</div>
