<footer class="footer">
	<p>关于我们 <span>|</span> 帮助中心 <span>|</span> 开放平台 <span>|</span> 联系我们 <span>|</span> 网站合作 <span>|</span> 友情链接</p>
	<p>
    <span class="logo-text">Copyright ©2017 广东东箭汽车科技股价有限公司</span>
    <span class="icp-center">Design by Paulshu</span>
	</p>
</footer>
